<div id="<%= dom_id absence_period %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Starts at:</strong>
    <%= absence_period.starts_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ends at:</strong>
    <%= absence_period.ends_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this absence period", absence_period, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this absence period', edit_absence_period_path(absence_period), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
