<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Editing absence period</h1>

  <%= render "form", absence_period: @absence_period %>

  <%= button_to "Delete", @absence_period, method: :delete, form: { class: "inline", data: { turbo_confirm: 'Are you sure?' } }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to absence periods", absence_periods_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
