<div class="relative py-16 bg-white overflow-hidden">
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
      <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"/>
      </svg>
      <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"/>
      </svg>
      <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"/>
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">How To</span>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Set Up Your Frederyk Practice Tracker</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8">A daily breakdown of your piano pracitice habits is only a few
        short steps away. Follow this tutorial to setup your own practice tracker.</p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <h3>What you need</h3>
      <ul role="list">
        <li>Account on <%= request.host %></li>
        <li>Raspberry PI. We're using a Raspi 3</li>
        <li>MIDI-capable digital piano</li>
        <li>USB cable to connect the MIDI out of your piano to your Raspberry Pi</li>
        <li>A little bit of experience with the command line or a curious mind</li>
      </ul>
      <h3>Installation & Setup</h3>
      <p>We're assuming your piano is assembled and ready to play and you can connect to your Raspberry Pi via command
        line.</p>
      <h4>Fryderyk Practice Software</h4>
      <p>Connect your digital piano to your Raspberry Pi with the USB cable. Then head over to the
        <a href="https://github.com/FelixAuer/practicetracker">Fryderyk Practice Tracker repository</a> and follow the instructions
        to setup the tracking software.</p>
      <p>Congratulations! If you've done everything correctly a local version of Fryderyk is now running on your home
        network.</p>
      <img src="/imgs/practicetracker.png" alt="Fryderyk Local Version">
      <h4>Connecting to <%= request.host %></h4>
      <p>Log into your account on <%= request.host %> and visit the "Settings" page. Hit the "Reset access key" button
        to generate a new access key. This key is needed to securely send your practice logs to our backend.</p>
      <p>Paste the access key into <span>config.py</span> file on your Raspberry Pi.</p>
      <img src="/imgs/accesskey.PNG" alt="Fryderyk Local Version">
      <h4>Setup the Cronjob</h4>
      <p>Follow the rest of the setup instructions in the
        <a href="https://github.com/FelixAuer/practicetracker">Fryderyk Practice Tracker repository</a> to setup the
        syncing
        cronjob. All done!</p>
    </div>
  </div>
</div>