<div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8 pt-8">
  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate"><%= @user.username.possessive %> Piano Practice</h2>
    </div>
  </div>
  <dl class="my-5 grid grid-cols-2 gap-5 sm:grid-cols-4">
    <div class="px-4 py-5 bg-sky-500 shadow rounded-lg overflow-hidden sm:p-6 ">
      <dt class="text-sm font-medium text-sky-100 truncate">Today</dt>
      <dd class="mt-1 text-xl md:text-3xl font-semibold text-sky-100"><%= seconds_to_hms @today %></dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Last 7 Days</dt>
      <dd class="mt-1 text-xl md:text-3xl font-semibold text-gray-900"><%= seconds_to_hms @sum7 %></dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Daily Average</dt>
      <dd class="mt-1 text-xl md:text-3xl font-semibold text-gray-900"><%= seconds_to_hms @sum7 / 7 %></dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Days Played</dt>
      <dd class="mt-1 text-xl md:text-3xl font-semibold text-gray-900"><%= @days_played %>/7</dd>
    </div>
  </dl>
  <div class="w-full" style="aspect-ratio: 3/1">
    <div id="chart"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var options = {
        chart: {
            type: 'area',
            height: '100%',
            width: '100%'
        },
        dataLabels: {
            enabled: false
        },
        series: [{
            name: 'Minutes played',
            data: <%= @last_30_days.values %>
        }],
        xaxis: {
            categories: <%= raw @last_30_days.keys %>,
            type: 'datetime'
        },
        tooltip: {
            custom: function ({series, seriesIndex, dataPointIndex, w}) {
                console.log(w)
                var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];
                data *= 60;
                return '<ul class="px-4 py-2">' +
                    '<li><b>' + (new Date(w.globals.lastXAxis.categories[dataPointIndex])).toDateString() + '</b></li>' +
                    '<li><b>Time played</b>: ' + [Math.floor(data / 3600).toString().padStart(2, '0'), Math.floor(data / 60 % 60).toString().padStart(2, '0'), Math.floor(data % 60).toString().padStart(2, '0')].join(":") + '</li>' +
                    '</ul>';
            }
        },
        stroke: {
            curve: 'smooth',
        },

        markers: {
            size: 0,
            colors: undefined,
            strokeColors: '#fff',
            strokeWidth: 2,
            strokeOpacity: 0.9,
            strokeDashArray: 0,
            fillOpacity: 1,
            discrete: [],
            shape: "circle",
            radius: 2,
            offsetX: 0,
            offsetY: 0,
            onClick: undefined,
            onDblClick: undefined,
            showNullDataPoints: true,
            hover: {
                size: undefined,
                sizeOffset: 3
            }
        }
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
</script>