<div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Goal Log</h1>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Title</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Composer</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Played</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Due In</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <% @goal_logs.each do |goal_log| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= goal_log.name %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= goal_log.composer %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <% if goal_log.last_played %>
                    <%= (DateTime.now - goal_log.last_played).to_i %> <%= "day".pluralize((DateTime.now - goal_log.last_played).to_i) %>
                    ago
                  <% end %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= (goal_log.due_at - DateTime.now).to_i %> <%= "day".pluralize((goal_log.due_at - DateTime.now).to_i) %> </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <%= link_to 'Edit', edit_goal_log_path(goal_log), class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

