<div style="display:grid; grid-template-columns: repeat(53, 1.2rem); grid-template-rows: repeat(7, 1.2rem);">
  <% h.each_with_index do |day, index| %>

    <div title="<%= day[0] %>: <%= seconds_to_hms(day[1]) %>" class="border border-gray-300 w-4 h-4 bg-blue-<%= (day[1] / div) + 1 %>00" style="grid-column-start: <%= (index / 7) + 1 %>; grid-row-start: <%= (index+1) % 7 %>;"></div>
  <% end %>
  <!--
  bg-blue-100
  bg-blue-200
  bg-blue-300
  bg-blue-400
  bg-blue-500
  -->
</div>