<li id="<%= dom_id practice_plan %>" class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
  <div class="px-4 py-6">
    <div class="mb-4">
      <span class="rounded-full bg-slate-400 px-2 py-1 text-xs text-slate-50"><%= practice_plan.duration %></span>
    </div>
    <div>
      <span class="text-sm font-medium hover:underline"><%= link_to practice_plan.name, practice_plan %></span>
    </div>
    <div class="px-8 py-0.5 bg-blue-400 inline-block">
    </div>
    <div class="text-xs mt-1">
      <p><%= practice_plan.description %></p>
    </div>
    <div class="mt-4">
      <% (practice_plan.tags || "").split(", ").each do |tag| %>
        <span class="inline-block rounded-full bg-blue-400 px-2 py-1 text-xs text-blue-50 mr-1"><%= tag %></span>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="mt-3">
        <%= button_to 'Duplicate', duplicate_practice_plan_path(practice_plan), method: :post, class: "text-indigo-600 hover:text-indigo-900" %>
        <%= link_to 'Edit', edit_practice_plan_path(practice_plan), class: "text-indigo-600 hover:text-indigo-900" %>
      </div>
    <% end %>
  </div>
</li>
