<div class="relative bg-indigo-800">
  <div class="absolute inset-0">
    <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1452724931113-5ab6340ce080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
    <div class="absolute inset-0 bg-indigo-800 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl">Fryderyk Practice Plans</h1>
  </div>
</div>
<div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8 pt-8">
  <% if user_signed_in? %>
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">Practice Plans</h1>
        <p class="mt-2 text-sm text-gray-700">Bring more structure to your practice sessions.</p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <%= link_to 'New Practice Plan', new_practice_plan_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
      </div>
    </div>
    <div class="pt-4">
      <ul role="list" class="grid grid-cols-2 gap-4 lg:grid-cols-3">
        <% @practice_plans.each do |practice_plan| %>
          <%= render practice_plan %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="pt-4">
      <div class="sm:flex-auto">
        <h1 class="text-4xl font-semibold text-gray-900">Welcome, Guest!</h1>
        <p class="mt-2 text-gray-700">This one's on us. Try our "Fifteen Minimal Minutes" practice plan.</p>
      </div>
    </div>
    <div class="pt-4">
      <ul role="list" class="grid grid-cols-2 gap-4 lg:grid-cols-3">
        <% @practice_plans.select { |plan| plan.show_to_guests }.each do |practice_plan| %>
          <%= render practice_plan %>
        <% end %>
        <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
          <div class="px-4 py-6">
            <div class="mb-4">
              <span class="rounded-full bg-slate-400 px-2 py-1 text-xs text-slate-50">It's free!</span>
            </div>
            <div>
              <span class="text-sm font-medium hover:underline">Sign up for more practice plans</span>
            </div>
            <div class="px-8 py-0.5 bg-blue-400 inline-block">
            </div>
            <div class="text-xs mt-1">
              <p class="mb-2">Login to view more practice plans.</p>
              <p>Don't have an account yet? Sign up!</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="pt-8">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-semibold text-gray-900">But wait, there's more</h1>
        <p class="mt-2 text-gray-700">All of these plans are waiting for you. Sign up to get going!</p>
      </div>
    </div>
    <div class="py-4">
      <ul role="list" class="grid grid-cols-2 gap-4 lg:grid-cols-3 grayscale">
        <% @practice_plans.select { |plan| !plan.show_to_guests }.each do |practice_plan| %>
          <%= render practice_plan %>
        <% end %>
      </ul>
    </div>
    <div class="relative py-16">
      <div class="absolute inset-x-0 top-0 hidden h-1/2 bg-gray-100 lg:block" aria-hidden="true"></div>
      <div class="mx-auto max-w-7xl bg-indigo-600 lg:bg-transparent lg:px-8">
        <div class="lg:grid lg:grid-cols-12">
          <div class="relative z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:bg-transparent lg:py-16">
            <div class="absolute inset-x-0 h-1/2 bg-gray-100 lg:hidden" aria-hidden="true"></div>
            <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0">
              <div class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">
                <img class="rounded-3xl object-cover object-center shadow-2xl" src="https://images.unsplash.com/photo-1594122230689-7f659cff55b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
              </div>
            </div>
          </div>

          <div class="relative bg-indigo-600 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:grid lg:grid-cols-10 lg:items-center lg:rounded-3xl">
            <div class="absolute inset-0 hidden overflow-hidden rounded-3xl lg:block" aria-hidden="true">
              <svg class="absolute bottom-full left-full translate-y-1/3 -translate-x-2/3 transform xl:bottom-auto xl:top-0 xl:translate-y-0" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                <defs>
                  <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-indigo-500" fill="currentColor"/>
                  </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"/>
              </svg>
              <svg class="absolute top-full -translate-y-1/3 -translate-x-1/3 transform xl:-translate-y-1/2" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                <defs>
                  <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-indigo-500" fill="currentColor"/>
                  </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"/>
              </svg>
            </div>
            <div class="relative mx-auto max-w-md space-y-6 py-12 px-4 sm:max-w-3xl sm:py-16 sm:px-6 lg:col-span-6 lg:col-start-4 lg:max-w-none lg:p-0">
              <h2 class="text-3xl font-bold tracking-tight text-white" id="join-heading">Join Fryderyk.xyz</h2>
              <p class="text-lg text-white">Create an account to unlock all of our free practice plans. Bring more
                structure to your practice sessions and level up your skills.</p>
              <a class="block w-full rounded-md border border-transparent bg-white py-3 px-5 text-center text-base font-medium text-indigo-700 shadow-md hover:bg-gray-100 sm:inline-block sm:w-auto" href="/users/sign_up">Sign
                Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

