<div class="container mx-auto p-4 flex-grow font-body">
  <div class="rounded-md bg-yellow-50 p-4 mb-8 hidden md:block">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: mini/exclamation-triangle -->
        <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.485 3.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 3.495zM10 6a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 6zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-yellow-800">Optimized for a mobile experience</h3>
        <div class="mt-2 text-sm text-yellow-700">
          <p>Fryderyk.xyz is designed to be used on your smart phone. Try it on a smaller screen for a better viewing
            experience.</p>
        </div>
      </div>
    </div>
  </div>
  <nav class="flex mb-5" aria-label="Breadcrumb">
    <ol role="list" class="flex items-center space-x-4">
      <li>
        <div>
          <a href="<%= practice_plans_path %>" class="text-gray-400 hover:text-gray-500">
            <!-- Heroicon name: mini/home -->
            <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd"/>
            </svg>
            <span class="sr-only">Home</span>
          </a>
        </div>
      </li>

      <li>
        <div class="flex items-center">
          <!-- Heroicon name: mini/chevron-right -->
          <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
          </svg>
          <a href="<%= practice_plans_path %>" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Practice
            Plans</a>
        </div>
      </li>

      <li>
        <div class="flex items-center">
          <!-- Heroicon name: mini/chevron-right -->
          <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
          </svg>
          <a href="#" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page"><%= @practice_plan.name %></a>
        </div>
      </li>
    </ol>
  </nav>
  <div class="flex flex-row justify-center">
    <practice-plan-show practice-plan-data='<%= @practice_plan.to_json %>' practice-instructions-data='<%= @practice_plan.practice_instructions.to_json %>'/>
  </div>
</div>
