<template>
  <div>
    <div class="text-gray-700">
      <p class="text-4xl mb-8">{{ instruction.name }}</p>
      <p class="text-2xl">{{ instruction.description }}</p>
      <div class="pt-8">
        <div v-if="instruction.end_condition.length">
          <p class="text-sm">How long</p>
          <p class="text-lg">{{ instruction.end_condition }}</p>
        </div>
        <div v-if="instruction.seconds" class="mt-8 text-4xl">
          <vue-countdown
              :key="instruction.position"
              ref="countdown"
              :time="instruction.seconds*1000"
              v-slot="{ minutes, seconds }"
              :transform="transformSlotProps"
              :auto-start="false"
          >
            {{ minutes }}:{{ seconds }}
          </vue-countdown>
          <div class="mt-3">
            <button @click="$refs.countdown.start" type="button"
                    class="inline-flex items-center rounded-full border border-transparent bg-indigo-100 p-4 text-indigo-700  shadow-sm hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <PlayIcon class="h-5 w-5" aria-hidden="true"/>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import VueCountdown from '@chenfengyuan/vue-countdown'
import {PlayIcon} from '@heroicons/vue/20/solid'

export default {
  name: "Instruction",
  props: ['instruction'],
  components: {
    VueCountdown,
    PlayIcon
  },
  data() {
    return {}
  },
  methods: {
    transformSlotProps(props) {
      const formattedProps = {};

      Object.entries(props).forEach(([key, value]) => {
        formattedProps[key] = value < 10 ? `0${value}` : String(value);
      });

      return formattedProps;
    },
  },
}
</script>
