<template>
  <div>
    <div class="mt-4">
      <label for="pp-name" class="block text-sm font-medium text-gray-700">Name</label>
      <div class="mt-1">
        <input v-model="practicePlan.name" type="text" name="pp-name" id="pp-name"
               class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
               placeholder="you@example.com"/>
      </div>
    </div>
    <div class="mt-4">
      <label for="description" class="block text-sm font-medium text-gray-700">Short description</label>
      <div class="mt-1">
        <textarea v-model="practicePlan.description" rows="4" name="description" id="description"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"/>
      </div>
    </div>
    <div class="mt-4">
      <label for="intro" class="block text-sm font-medium text-gray-700">More information (this will be displayed as the
        first instruction of the session)</label>
      <div class="mt-1">
        <textarea v-model="practicePlan.intro" rows="4" name="intro" id="intro"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"/>
      </div>
    </div>
    <div class="mt-4">
      <label for="duration" class="block text-sm font-medium text-gray-700">Approximate duration</label>
      <div class="mt-1">
        <input v-model="practicePlan.duration" type="text" name="duration" id="duration"
               class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
               placeholder="35 minutes"/>
      </div>
    </div>
    <div class="mt-4">
      <label for="tags" class="block text-sm font-medium text-gray-700">Tags (Seperated by comma)</label>
      <div class="mt-1">
        <input v-model="practicePlan.tags" type="text" name="tags" id="tags"
               class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
               placeholder="Scales, Technical, Arpeggios"/>
      </div>
    </div>
    <div class="mt-4">
      <div class="relative flex items-start">
        <div class="flex h-5 items-center">
          <input id="show-to-guests" aria-describedby="show-to-guests-description" name="show-to-guests" type="checkbox" v-model="practicePlan.show_to_guests"
                 class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        </div>
        <div class="ml-3 text-sm">
          <label for="show-to-guests" class="font-medium text-gray-700">Show to guests</label>
          <p id="show-to-guests-description" class="text-gray-500">Select this to allow users without an account to view the plan.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded mt-5">
    <draggable
        v-model="instructions"
        item-key="position"
        handle=".handle"
        @change="setPositions"
    >
      <template #item="{element}">
        <div class="flex flex-col space-y-2 bg-gray-100">
          <div class="flex flex-row px-4 justify-between py-4">
            <div>
              <span class="handle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6 inline">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
              </span>
              <span class="pl-3 pt-2">
              {{ element.name }}
              </span>
            </div>
            <div class="flex flex-row">
              <Menu as="span">
                <MenuButton
                    class="items-center rounded-full bg-gray-100 text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">
                  <span class="sr-only">Open options</span>
                  <EllipsisVerticalIcon class="h-5 w-5" aria-hidden="true"/>
                </MenuButton>

                <transition enter-active-class="transition ease-out duration-100"
                            enter-from-class="transform opacity-0 scale-95"
                            enter-to-class="transform opacity-100 scale-100"
                            leave-active-class="transition ease-in duration-75"
                            leave-from-class="transform opacity-100 scale-100"
                            leave-to-class="transform opacity-0 scale-95">
                  <MenuItems
                      class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                    <div class="py-1">
                      <MenuItem v-slot="{ active }">
                        <span
                            @click="duplicate(element.position)"
                            :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'cursor-pointer block px-4 py-2 text-sm']">Duplicate</span>
                      </MenuItem>
                      <MenuItem v-slot="{ active }">
                        <span
                            @click="remove(element.position)"
                            :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'cursor-pointer block px-4 py-2 text-sm']">Delete</span>
                      </MenuItem>
                    </div>
                  </MenuItems>
                </transition>
              </Menu>
              <span v-if="element.open" class="cursor-pointer text-gray-500 hover:text-gray-700"
                    @click="element.open = false">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5"/>
                </svg>
              </span>
              <span v-else class="cursor-pointer text-gray-500 hover:text-gray-700" @click="element.open = true">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="bg-white">
              <div v-if="element.open" class="space-y-5 px-4 py-4">
                <div class="pt-2">
                  <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                  <div class="mt-1 border-b border-gray-300 focus-within:border-indigo-600">
                    <input v-model="element.name" type="text" name="name" id="name"
                           class="block w-full border-0 border-b border-transparent bg-gray-50 focus:border-indigo-600 focus:ring-0 sm:text-sm"
                           placeholder="Major Scales"/>
                  </div>
                </div>
                <div class="border-b border-gray-200 focus-within:border-indigo-600">
                  <label for="instructions" class="block text-sm font-medium text-gray-700">Instructions</label>
                  <textarea v-model="element.description" rows="3" name="instructions" id="instructions"
                            class="block w-full border-0 border-b border-transparent bg-gray-50 resize-none focus:ring-0 focus:border-indigo-600 sm:text-sm"
                            placeholder="Play all major scales up and down over 2 octaves"/>
                </div>
                <div>
                  <label for="end_condition" class="block text-sm font-medium text-gray-700">When to stop</label>
                  <div class="mt-1 border-b border-gray-300 focus-within:border-indigo-600">
                    <input v-model="element.end_condition" type="text" name="end_condition" id="end_condition"
                           class="block w-full border-0 border-b border-transparent bg-gray-50 focus:border-indigo-600 focus:ring-0 sm:text-sm"
                           placeholder="After 4 continuous smooth runs"/>
                  </div>
                </div>
                <div class="flex space-x-4">
                  <div class="w-1/2 mr-3">
                    <label for="seconds" class="block text-sm font-medium text-gray-700">How long</label>
                    <select id="seconds" name="seconds" v-model="element.seconds"
                            class="mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      <option value="0">Don't show timer</option>
                      <option v-for="index in 60" :key="index" :value="index*60">{{ index }} minutes</option>
                    </select>
                    <p class="text-xs text-gray-600 pt-1.5 px-1" v-if="element.seconds > 0">This will show a timer on
                      this
                      instruction's card</p>
                  </div>
                  <div class="w-1/2 ml-3">
                    <label for="repetitions" class="block text-sm font-medium text-gray-700">Repetitions</label>
                    <select id="repetitions" name="repetitions" v-model="element.repetitions"
                            class="mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      <option v-for="index in 10" :key="index" :value="index">{{ index }}</option>
                    </select>
                    <p class="text-xs text-gray-600 pt-1.5 px-1" v-if="element.repetitions > 1">This instruction's card
                      will be shown {{ element.repetitions }} times</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #header>
        <div class="bg-white px-4 py-5 sm:px-6 rounded-t">
          <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
            <div class="ml-4 mt-2">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Instructions</h3>
            </div>
          </div>
        </div>
      </template>
      <template #footer>
        <div class="bg-white py-3 sm:px-2 rounded-b border-0 border-t-2 border-gray-100">
          <div
              class="flex flex-wrap sm:flex-nowrap flex flex-row justify-center">
            <div>
              <button @click="addInstruction" type="button"
                      class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Add instruction
              </button>
            </div>
          </div>
        </div>
      </template>
    </draggable>
    <div class="relative py-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"/>
      </div>
      <div class="relative flex justify-center">
      <span class="bg-gray-100 px-2 text-gray-500">
        <MusicalNoteIcon class="h-5 w-5 text-gray-500" aria-hidden="true"/>
      </span>
      </div>
    </div>
    <div class="py-4">
      <p v-if="error" class="text-red-500 mb-3">{{ error }}</p>
      <button @click="save()" type="button"
              class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save Practice Plan
      </button>
    </div>
  </div>

</template>

<script>
import draggable from 'vuedraggable'
import axios from 'axios'

import {MusicalNoteIcon} from '@heroicons/vue/20/solid'
import {Menu, MenuButton, MenuItem, MenuItems} from '@headlessui/vue'
import {EllipsisVerticalIcon} from '@heroicons/vue/20/solid'

export default {
  name: "PracticePlanEdit",
  components: {
    draggable,
    MusicalNoteIcon, EllipsisVerticalIcon,
    Menu, MenuButton, MenuItem, MenuItems
  },
  props: {
    practicePlanData: {
      required: true
    },
    practiceInstructionsData: {
      required: true
    }
  },
  data() {
    return {
      practicePlan: null,
      instructions: [],
      drag: false,
      error: null,
    }
  },
  created() {
    this.practicePlan = JSON.parse(this.practicePlanData)
    this.instructions = JSON.parse(this.practiceInstructionsData)
    this.setPositions()
    this.closeAll()
  },
  methods: {
    addInstruction() {
      this.closeAll()
      this.instructions.push({
        name: "",
        description: "",
        end_condition: "",
        position: 0,
        open: true,
        seconds: 0,
        repetitions: 1,
      })
      this.setPositions()
    },
    closeAll() {
      for (let i = 0; i < this.instructions.length; i++) {
        this.instructions[i].open = false
      }
    },
    setPositions() {
      for (let i = 0; i < this.instructions.length; i++) {
        this.instructions[i].position = i
      }
    },
    save() {
      this.error = null
      axios.defaults.headers.common['X-CSRF-Token'] = document.querySelector("meta[name=csrf-token]").content

      axios.put('/practice_plans/' + this.practicePlan.id + '.json', {
        practice_plan: {
          name: this.practicePlan.name,
          description: this.practicePlan.description,
          intro: this.practicePlan.intro,
          duration: this.practicePlan.duration,
          tags: this.practicePlan.tags,
          show_to_guests: this.practicePlan.show_to_guests,
          practice_instructions_attributes: this.instructions.map(function (item) {
            return {
              name: item.name,
              description: item.description,
              end_condition: item.end_condition,
              position: item.position,
              seconds: item.seconds,
              repetitions: item.repetitions
            }
          })
        },
        authenticity_toke: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      })
          .then(response => window.location = "/practice_plans")
          .catch(error => {
            this.error = "Something went wrong! Please check your input"
          })
    },
    remove(position) {
      this.instructions = this.instructions.filter(item => item.position !== position)
      this.setPositions()
    },
    duplicate(position) {
      // ugly hack, find better way to make deep copy/clone
      this.instructions = JSON.parse(JSON.stringify(this.instructions.slice(0, position + 1).concat(this.instructions.slice(position))))
      this.setPositions()
    }
  }
}
</script>

<style scoped>

</style>