<template>
  <div class="bg-white rounded-lg shadow-md h-full flex flex-col max-w-2xl flex-grow">
    <div class="px-8 pb-2 pt-4 text-center flex-grow flex flex-col">
      <span class="text-gray-600">{{ practicePlan.name }}</span>
      <div class="flex-grow text-2xl flex flex-col justify-center">
        <div v-if="currentStep == -1">
          <div class="mb-4 text-gray-700 py-16">
            <p>{{ practicePlan.intro }}</p>
          </div>
        </div>
        <div v-else>
          <div v-if="currentStep < (instructions.length)" class="py-16">
            <instruction :instruction="instructions[currentStep]"></instruction>
          </div>
          <div v-else class="mb-4 text-gray-700 py-16">
            <p class="text-2xl mb-4">Congratulations!</p>
            <p class="text-xl">You've finished "{{ practicePlan.name }}" for today</p>
          </div>
        </div>
      </div>
      <span class="text-gray-600" v-if="currentStep < (instructions.length)">{{
          currentStep + 1
        }}/{{ instructions.length }}</span>
    </div>

    <div class="bg-gray-100 rounded-lg px-2 py-2">
      <div class="flex mb-4">
        <div class="pr-1 w-full">
          <button
              class="items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 w-full disabled:opacity-75 disabled:cursor-not-allowed"
              :disabled="currentStep === -1" @click="previousStep">Back
          </button>
        </div>
        <div class="pl-1 w-full">
          <button
              class="items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 w-full disabled:opacity-75 disabled:cursor-not-allowed"
              :disabled="currentStep === (instructions.length)" @click="nextStep">Next
          </button>
        </div>
      </div>
      <div class="w-full block">
        <a href="/practice_plans"
           class="w-full text-center block items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Finish
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Instruction from "./Instruction.vue";

export default {
  name: "PracticePlanShow.vue",
  components: {Instruction},

  props: {
    practicePlanData: {
      required: true
    },
    practiceInstructionsData: {
      required: true
    }
  },
  data() {
    return {
      practicePlan: null,
      instructions: [],
      currentStep: -1
    }
  },
  created() {
    this.practicePlan = JSON.parse(this.practicePlanData)
    let unrepeatedInstructions = JSON.parse(this.practiceInstructionsData);
    let repeatedInstructions = []
    for (let i = 0; i < unrepeatedInstructions.length; i++) {
      if (unrepeatedInstructions[i].repetitions === 1) {
        repeatedInstructions.push(unrepeatedInstructions[i])
      } else {
        for (let c = 1; c <= unrepeatedInstructions[i].repetitions; c++) {
          let inst = {}
          Object.assign(inst, unrepeatedInstructions[i])
          inst.name = inst.name + " " + c
          repeatedInstructions.push(inst)
        }
      }
    }
    this.instructions = repeatedInstructions
    for (let i = 0; i < this.instructions.length; i++) {
      this.instructions[i].position = i
    }
  },
  methods: {
    previousStep() {
      this.currentStep--
    },
    nextStep() {
      this.currentStep++
    },
  },
}
</script>

<style scoped>

</style>