<%= form_with(model: goal, class: "mt-5 sm:flex sm:items-center") do |form| %>
  <% if goal.errors.any? %>

    <div id="error_explanation" class=" bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full sm:max-w-xs flex flex-row">
    <div class="sm:max-w-xs">
      <%= form.label :value, "Minutes" %>
      <%= form.number_field :value, value: goal.value / 60, min: 1, required: true, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
    </div>

    <div class="sm:max-w-xs ml-3">
      <%= form.label :active %>
      <%= form.check_box :active, class: "block mt-2 h-5 w-5" %>
    </div>
  </div>
  <div class="inline">
    <%= form.submit "Save", class: "mt-3 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" %>
  </div>
<% end %>
