<div class="mt-4">
  <div class="mb-1 text-base font-medium flex flex-row justify-between">
    <div>
      <span><%= name %></span>
      <span class="text-sm text-gray-500 ml-1"><%= seconds_to_hms goal.current_value %>
        / <%= seconds_to_hms goal.value %></span>
      <span class="text-sm text-gray-500 ml-2"><%= goal.percentage %>%</span>
      <% if goal.reached? %>
        <svg xmlns="http://www.w3.org/2000/svg" class="inline flex-shrink-0 h-4 w-4 text-indigo-600" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
        </svg>
      <% end %>
    </div>
    <% if goal.streak_active? %>
      <div class="flex flex-row <% unless goal.streak_prolonged? %>text-gray-400
          <% end %>">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5
          <% if goal.streak_prolonged? %>text-indigo-600
          <% end %> align-middle" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"/>
        </svg>
        <span style="line-height: 1.4rem">
        <%= goal.streak_length %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
    <div class="bg-blue-600 h-2.5 rounded-full" style="width: <%= goal.percentage %>%"></div>
  </div>
</div>