<div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Your Goals</h1>
    </div>
  </div>
  <div class="md:flex md:flex-row md:space-x-4">
    <div class="mt-8 flex flex-col md:w-1/2">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded md:rounded-lg">
            <div class="bg-white shadow sm:rounded-lg">
              <div class="px-4 py-5 sm:p-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Daily Goal</h3>
                <div class="mt-2 max-w-xl text-sm text-gray-500">
                  <p>How many minutes do you want to play each day?</p>
                </div>
                <%= render "form", goal: @daily_goal %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 flex flex-col  md:w-1/2">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded md:rounded-lg">
            <div class="bg-white shadow sm:rounded-lg">
              <div class="px-4 py-5 sm:p-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Weekly Goal</h3>
                <div class="mt-2 max-w-xl text-sm text-gray-500">
                  <p>How many minutes do you want to play each week?</p>
                </div>
                <%= render "form", goal: @weekly_goal %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex md:flex-row md:space-x-10 py-4">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Going on holiday?</h3>
        <div class="mt-2 max-w-xl text-sm text-gray-500">
          <p>Set an absence period, so your daily streak won't end.</p>
        </div>
        <div class="mt-5">
          <%= link_to "Set absence", absence_periods_url, class: "inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>

