<div id="<%= dom_id repertoire_piece %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= repertoire_piece.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Composer:</strong>
    <%= repertoire_piece.composer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level:</strong>
    <%= repertoire_piece.level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last played:</strong>
    <%= repertoire_piece.last_played %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= repertoire_piece.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this repertoire piece", repertoire_piece, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this repertoire piece', edit_repertoire_piece_path(repertoire_piece), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
