<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Editing repertoire piece</h1>

  <%= render "form", repertoire_piece: @repertoire_piece %>

  <%= link_to "Back to repertoire pieces", repertoire_pieces_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= button_to "Delete this repertoire pieces", @repertoire_piece, method: :delete, form: { class: "inline", data: { turbo_confirm: 'Are you sure?' } }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
