<div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Repertoire Pieces</h1>
      <p class="mt-2 text-sm text-gray-700">A list of the pieces you want to be able to play from memory anytime.</p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to 'Add repertoire piece', new_repertoire_piece_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Title</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Composer</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Played</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Due In</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <% @repertoire_pieces.each do |repertoire_piece| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= repertoire_piece.name %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= repertoire_piece.composer %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <% if repertoire_piece.last_played %>
                    <%= (DateTime.now - repertoire_piece.last_played).to_i %> <%= "day".pluralize((DateTime.now - repertoire_piece.last_played).to_i) %>
                    ago
                  <% end %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= (repertoire_piece.due_at - DateTime.now).to_i %> <%= "day".pluralize((repertoire_piece.due_at - DateTime.now).to_i) %> </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <%= link_to 'Edit', edit_repertoire_piece_path(repertoire_piece), class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>

            <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

