<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

  <% if flash[:auth_token] %>
    <div class="rounded-md bg-green-50 p-4 mb-8">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/check-circle -->
          <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-green-800">Reset Auth Token</h3>
          <div class="mt-2 text-sm text-green-700">
            <p>Your new auth token is <span id="auth_token" class="font-mono font-bold"><%= flash[:auth_token] %></span>
            </p>
            <p>Please save your token in a secure place. We won't show it to you again.</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Reset your access key</h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <p>Once you reset your access key your connected devices will not be able to send your data to Fryderyk until
          you use the new access key.</p>
        <div class="mt-6">
          <a href="/how-to" class="text-sm font-medium text-indigo-500">How to setup &nbsp&rarr; </a>
        </div>
      </div>
      <div class="mt-5">
        <%= link_to auth_tokens_update_path, data: { turbo_method: :post }, method: :post, class: "inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm" do %>
          Reset access key
        <% end %>
      </div>
    </div>
  </div>
</div>