<% if notice %>
  <div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8">
    <div class="rounded-md bg-green-50 p-4 mb-4">
      <div class="flex">
        <div class="ml-3">
          <h3 class="text-sm font-medium text-green-800"><%= notice %></h3>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8">
    <div class="rounded-md bg-yellow-50 p-4 mb-4">
      <div class="flex">
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800"><%= alert %></h3>
        </div>
      </div>
    </div>
  </div>
<% end %>